body{
    font-family: 'Roboto',sans-serif;
}
header .img-banner{
    max-height: 500px;
}
header .banner{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fafafa;
}
header .banner .banner-title{
    position: absolute;
    top: 6rem;
    right: 19rem;
    color: #fafafa;
    font-size: 2.5rem;  
}
header .banner .banner-title-1{
    position: absolute;
    top: 9rem;
    right: 6rem;
    font-size: 2.8rem;  

}